<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Server_Administration_Tool.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <input type="checkbox" id="side-checkbox" />
                <div class="side-panel">
                    <label class="side-button-2" for="side-checkbox">+</label>    
                    <div class="side-title" style="text-align: center;">GTVi-APP011</div>
                    <div class="list">
                        <a class="side-bar-elem" asp-area="" asp-controller="AddApp" asp-action="AddApplication">
                            <img src="/src/add-button.png" alt="Add" style="width: 20%">
                            <span>Добавить приложение</span>
                        </a>
                        <a class="side-bar-elem" asp-area="" asp-controller="ApplicationsList" asp-action="ApplicationsList">
                            <img src="/src/document-text.png" alt="List" style="width: 20%">
                            <span>Список приложений</span>
                        </a>
                        <a class="side-bar-elem" asp-area="" asp-controller="ServerConfig" asp-action="ServerConfiguration">
                            <img src="/src/settings.png" alt="Settings" style="width: 15%">
                            <span>Информация о сервере</span>
                        </a>
                        <a class="side-bar-elem bottom-elem" asp-area="" asp-controller="Home" asp-action="Help">
                            <img src="/src/info-square.png" alt="Help" style="width: 15%;">
                            <span>Помощь</span>
                        </a>
                    </div>
                </div>
                <div class="side-button-1-wr" >
                    <label class="side-button-1" for="side-checkbox">
                        <img class="side-b side-open" src="/src/hamburger-menu-light.png" style="width: 20%; background: none; margin-left: 5%"></img>
                    </label>
                </div>
                <label class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Server Administration Tool</label>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @* <div class="side-bar">
        <a href="" class="side-bar-elem">
            <img src="/add-button.png" alt="Add" style="width: 90%">
        </a>
        <a href="" class="side-bar-elem">
            <img src="/document-text.png" alt="List" style="width: 90%">
        </a>
        <a href="" class="side-bar-elem">
            <img src="/settings.png" alt="Settings" style="width: 90%">
        </a>
        <a href="" class="side-bar-elem bottom-elem">
            <img src="/help.png" alt="Help" style="width: 85%;">
        </a>
    </div>

    </div>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
