@{
	ViewData["Title"] = "Добавить приложение";
}

<center><h2>Добавить приложение на сервер</h2></center>

<div class="app-description">
	<a style="cursor: pointer;">
		<img src="/src/application.png" alt="Приложение">
		<p style="top: -1rem;">Изменить изображение</p>
	</a>
	<div class="input-fields" style="text-align: initial;">
		<span>Название приложения</span>
		<input type="text">
		<span>Описание</span>
		<textarea></textarea>
	</div>
</div>