@{
	ViewData["Title"] = "Добавить приложение";
}

<center><h2>Добавить приложение на сервер</h2></center>

<div class="content">
	<img src="/src/application.png" alt="Приложение">
	<div class="input-fields">
		<span>Название приложения</span>
		<input type="text">
		<span></span>
	</div>
</div>