@{
	ViewData["Title"] = "Информация о сервере";

	var os = Environment.OSVersion;
}

<div>
	<center><h2>Общие сведения о сервере приложений</h2></center>
	<p>Сервер работает под управлением: @os</p>
	<p>
		<div id="applications-list" class="server-info">
			<img class="open-button" src="/src/close-circle.png" style="transform: rotate(45deg)"/>
			<span>Развернутые приложения на сервере:</span>
		</div>
		<ul id="apps" style="overflow: hidden; max-height: 0;">
			@Applications.GetApplications()
		</ul>
	</p>

	<p>
		<div id="users-list" class="server-info">
			<img class="open-button" src="/src/close-circle.png" style="transform: rotate(45deg)"/>
			<span>Пользователи на сервере:</span>
		</div>
		
		<ul id="users" style="overflow: hidden; max-height: 0;">
			@Users.GetUsers()
		</ul>
	</p>

	<p>

	</p>
</div>

<script>
	$(".server-info").click(function() {
  $(".open-button").toggleClass("rot");
});
</script>
<script src="~/js/list-anim.js"></script>