@{
    ViewData["Title"] = "Помощь";
}
<h2>Справка</h2>
<p>Работа на сервере gtvi-app011 через SSH подключение</p>

<ul class="helper-list">
    <li class="list-elem">Перезапуск веб-сервера httpd:</li>
    <ul>
        <li>systemctl restart httpd - просто перезапуск</li>
        <li>systemctl reload httpd - с перечитыванием конфигурационного (*.service) файла</li>
    </ul>
    <br>
    <li class="list-elem">Остановка веб-сервера httpd:</li>
    <ul>
        <li>systemctl stop httpd</li>
    </ul>
    <br>
    <li class="list-elem">Запуск веб-сервера httpd:</li>
    <ul>
        <li>systemctl start httpd</li>
    </ul>
    <br>
    <li class="list-elem">Проверка корректности синтаксиса в конфигурационных файлах httpd:</li>
    <ul>
        <li>apachectl configtest</li>
    </ul>
    <br>
    <li class="list-elem">Проверка состояния сервиса:</li>
    <ul>
        <li>systemctl status <service_name></li>
    </ul>
    <br>
    <li class="list-elem">Включение сервиса в автозагрузку:</li>
    <ul>
        <li>systemctl enable <service_name></li>
    </ul>
</ul>
При перезапуске веб-сервера Apache(httpd) или при полной остановке и последующем запуске 
необходимо также отключить SELinux, чтобы избежать ошибки 'SELinux policy enabled'.

<ul class="helper-list">
    <li class="list-elem">Проверить состояние SELinux с помощью команды getenforce:</li>
    <ul>
        <li>Если вернулось значение 'Enforcing', значит он включен, работает и запрещает.</li>
        <li>Если вернулось 'Permissive', значит он включен, но ничего не запрещает.</li>
    </ul>
    <br>
    <li>Для включения необходимо ввести <b>setenforce 1</b></li>
    <li>Для отключения необходимо ввести <b>setenforce 0</b></li>
</ul>

<ul class="helper-list">
    <li class="list-elem">Каталог конфигурационных файлов httpd:</li>
    <ul>
        <li>/etc/httpd/conf.d/</li>
    </ul>
    <br>
    <li class="list-elem">Каталог системных сервисов:</li>
    <ul>
        <li>/etc/systemd/system/</li>
    </ul>
    <br>
    <li class="list-elem">Каталог для веб-приложений:</li>
    <ul>
        <li>/var/www/</li>
    </ul>
</ul>

<p>Работа на сервере gtvi-app011 через приложение</p>