@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <img src="server.png" style="width: 20%; margin-top: 5%;"></img>
    <p style="font-size: 1.5em;">Вас приветствует сервис администрирования приложений на сервере GTVi-APP011</p>
</div>
