html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  cursor: default;
}

body {
  margin-bottom: 60px;
}

/* Оформление панели */
#side-checkbox {
  display: none;
}
.side-panel {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: -360px;
  background: #337AB7;
  transition: all 0.5s;   
  width: 320px;
  height: 100vh;
  box-shadow: 10px 0 20px rgba(0,0,0,0.4);
  color: #FFF;
  padding: 40px 20px;
}
.side-title {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */

.side-button-1 .side-b {
  text-decoration: none;
  position: relative;
  color: #FFF;
  text-transform: uppercase; 
  font-family: 'Roboto', Тahoma, sans-serif;
  background: #337AB7;
  cursor: pointer; 
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
  color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
  position: absolute;
  height: 4px;
  left: 50%;
  bottom: -6px;
  transition: all 280ms ease-in-out;
}

.side-button-1 .side-b:before {
  top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
  width: 100%;
  left: 0;
}
/* Переключатели кнопки 1 */

#side-checkbox:checked + .side-panel {
  left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
  font-size: 30px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  color: #BFE2FF;    
  transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
  transform: rotate(45deg) scale(1.1);    
  color: #FFF;
}

.side-bar {
  position: fixed;
  width: 5%;
  background-color: #dcdddd;
  flex-direction: column;
}

.side-bar-elem {
  display: block;
  padding: 1em;
  border: solid 1px rgb(86, 150, 245);
  background-color: #FFF;
  text-decoration: none;
}

.bottom-elem {
  position: absolute;
  bottom: 0;
  margin-right: 5%;
}

.helper-list {
  list-style: none;
}

.list-elem {
  text-decoration: underline;
}

.actions .container {
    display: flex;
    justify-content: space-around;
}

.actions .container a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.elements {
overflow: hidden;
}

.elements > div{
opacity: 0;
}

.app-item {
  display: flex;
  border: solid black 1px;
  border-radius: 0.5em;
  padding: 1%;
  margin: 1em;
  justify-content: start;
  user-select: none;
}

.app-item .app-info {
  margin: 2%;
}

.app-control {
  margin: 3%;
}

.app-control a {
  padding: 1em;
  border-radius: 0.5em;
  text-decoration: none;
  color: black;
  background-color: #BFE2FF;
  cursor: pointer;
}

.open-button {
    width: 2.5rem;
}

#applications-list:hover, #users-list:hover{
    background-color: #d5d5d5;
    cursor: pointer;
}

.server-info {
    padding: 1rem;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}

#apps {
    list-style-type: '- ';
}

#add-img:hover {
    animation: scale 2s linear infinite;
}

#list-img:hover {
    animation: updown 2s linear infinite;
}

#gear-img:hover {
    animation: spin 4s linear infinite;
}

.rot {
  transform: rotate(45deg);
}
.open-button {
  transition: transform .2s ease-in-out;
}

.app-description {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    text-align: center;
}

.app-description a, .app-description div {
    padding: 1rem;
    width: 125%;
}

.app-description .input-fields {
    display: flex;
    flex-direction: column;
}

.auth-block {
  margin: 0 auto;
  width: 35%;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-group {
  padding: 1% 20%;
  display: flex;
  flex-direction: column;
}

.form-group > .btn {
  margin: 0 auto;
  width: 40%;
}

#upload-image img, #upload-image p {
  cursor: pointer;
}

#main-image {
  width: 100%;
  max-width: fit-content;
  max-height: fit-content;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-1em);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(1em);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}